.section {
  padding: 0 2.2em;
  max-width: 230px;
}

.section:nth-last-child(1) {
  margin-bottom: 1.8em;
}

.section h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.8em 0 0;
}

.section p {
  font-size: 0.64em;
  margin: 0;
}